<ul>
  <li>El número original es {{number }}</li>
  <li>El número en España es {{number | numberPrefix:'SPAIN'}}</li>
  <li>El número en Francia es {{number | numberPrefix:'FRANCE'}}</li>
  <li>Pi con decimal PIPE {{pi | number: '1.0-4'}}</li>
  <li>La cadena {{cadena}} con Slice {{cadena | slice:0:6}}</li>
  <li>Array {{array}} con Slice {{array | slice:0:1}}</li>
  <li>El precio de este producto es: {{price | currency:'EUR':'symbol':'1.0-2'}}</li>
  <li>El precio de este producto es: {{price | currency:'EUR':'symbol':'1.0-2':'es'}}</li>
  <li>Hoy es el día: {{today | date:'shortDate'}}</li>
</ul>
